.student-home-wrapper{
    padding-top: 20px;
}
.img-profile-pic{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}
.student-home-side-content{
    padding: 0px 50px;
}
.light-text{
    color: grey;
}
strong{
    margin-right: 5px;
}
.short-hr{
    margin: 10px 50px;
}