.student-home-wrapper{
    padding-top: 20px;
}
.img-profile-pic{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}
.student-home-side-content{
    padding: 0px 50px;
}
.light-text{
    color: grey;
}
strong{
    margin-right: 5px;
}
.short-hr{
    margin: 10px 50px;
}
.experience-wrapper{
    background: linear-gradient(90deg, white, white, white, lightgrey);
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: transform 0.2s;
}
.experience-wrapper:hover{
    border: 1px solid royalblue;
    transform: scale(1.01);
}
.experience-actions{
    float: right;
}