/* For signup page */
.signup-content-wrapper{
    margin: 0px 20px;
    min-height: calc(100vh - 150px);
    padding: 20px;
    height: 100%;
}
.signup-form-container{
    height: 100%;
    background: url('../../Assets/Images/slider3.jpg') center;
    background-size: cover;
    color: white;
    border-radius: 15px;
}
.signup-form-container-right{
    padding: 30px 80px;
}
.btn{
    margin: 0px 5px;
    /* border-radius: 10px; */
}
.form-overlay{
    background-image: linear-gradient(to right, 
    rgba(0,0,0,0), 
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.8), 
    rgba(0,0,0,0.85), 
    rgba(0,0,0,0.9), 
    rgba(0,0,0,1));
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.login-prompt{
    margin-left: 20px;
}


/* For login page */
.content-wrapper{
    margin: 0px 20px;
    height: calc(100vh - 150px);
    padding: 20px;
}
.form-conrainer{
    height: 100%;
    background: url('../../Assets/Images/slider3.jpg') center;
    background-size: cover;
    color: white;
    border-radius: 15px;
}
.form-container-right{
    padding: 15px 80px;
    margin-top: 80px;
}
/* .form-control{
    border: 1px solid black;
    border-radius: 10px;
} */
.btn{
    margin: 0px 5px;
    /* border-radius: 10px; */
}
.checkbox-inline{
    margin-left: 5px;
}