.footer-section{
    background-color: darkslategrey;
    color: white;
    min-height: 100px;
    height: 100%;
    line-height: 100px;
    /* margin-top: 20px; */
}
.fab{
    padding: 0px 5px;
    color: white;
}
.fab:hover{
    color: thistle;
}
.alert{
    position: absolute;
    top: -10px;
    z-index: 9999;
}
/* .footer-icon-section{
    text-align: right;
} */


i{
    min-width: 20px;
}
hr{
    border-top: 1px solid grey;
}
.gradient-container{
    background: linear-gradient(45deg, lightgrey, white, white,lightgrey);
    min-height: 80vh;
    /* padding-top: 50px; */
    padding-bottom: 30px;
}
.glyphicon{
    top: 5px;
}
small{
    color: grey;
}
.float-right{
    float: right;
}
.justify{
    text-align: justify;
}
.pull-right{
    margin-right: 10px;
}
.label{
    margin: 0px 10px;
}

.left-table{
    padding: 50px 10px;
}
.salary-filter-input{
    padding-right: 0;
}
.error-page-image{
    background: url(../../Assets/Images/bb8.gif) center center;
    height: 40vh;
    border: 1px solid maroon;
    border-radius: 10px;
}
.error-page-info{
    text-align: center;
}
.error-page-info h4{
    color: maroon;
    margin-top: 50px ;
}
.error-container{
    height: 80vh;
    padding: 100px;
}