.img-logo{
    max-height: 100%;
    max-width: 100%;
}
.job-desc{
    transition: transform 0.2s;
}
.job-desc:hover{
    border: 1px solid royalblue; 
    transform: scale(1.01);
}
.fas{
    color: royalblue;
}
.job-link{
    color: black;
}
